#cookie-info-message {
    padding: 10px 0px;
    font-size: 14px;
    line-height: 22px;
    border-top: 2px solid #94d100;
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: #e6e6e6;
    color: #474747;
    width: 100%;
    z-index: 999;
}

#cookie-info-message #cookie-info-accept {
    background-color: #94d100;
    padding: 5px 10px;
    color: #303030;
    text-decoration: none;
    cursor: pointer;
}